@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /*vh significa hight viewport
  margin: 0; */
}
#container {
  background-color: rgb(227, 215, 215);
  border: 1px solid black;
  border-radius: 22px;
}

#containerHeader {
  display: flex;
  justify-content: space-around;

  padding: 10px;
}

#history {
  display: inline-block;
  width: 25px;
  padding: 10px;
  background-color: tomato;
}

#containerResult {
  display: grid;
  gap: 5px;
  border: 3px solid rgb(95, 152, 9);
  border-radius: 15px;
  width: 330px;
  height: 50px;
  padding: 5px;
}

#calculatorDisplay {
  font-family: "Bitcount single"; /*by joao*/
  font-size: 24px;
  font-weight: 500;
  display: block;
  padding: 10px;

  background-image: radial-gradient(circle, rgba(149, 205, 80, 0.29) 0%, transparent 90%);
  background-color: rgb(135, 191, 165);
  border-radius: 10px;
  text-align: right;
}

#containerButtons {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 400px;
  height: 400px;

  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.button {
  font-size: 22px;
  border-radius: 15px;
  box-shadow: 2px 2px grey;
  background-image: radial-gradient(circle, rgba(152, 140, 140, 0.29) 0%, transparent 70%);
}

.button:active {
  font-size: 22px;
  border-radius: 15px;
  box-shadow: none;
}

#noButtonHere {
  background-image: radial-gradient(circle, rgba(97, 86, 86, 0.29) 0%, transparent 70%);
 
}

#bigZero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 5;
}

#bigEqual {
  grid-column: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}
