body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /*vh significa hight viewport
  margin: 0; */
}
#container {
  background-color: rgb(236, 236, 236);
  border: 1px solid black;
  border-radius: 22px;
}

#containerHeader {
  display: flex;
  justify-content: space-around;


  padding: 10px;
}

#history {
  display: inline-block;
  width: 25px;  
  padding: 10px;
  background-color: tomato;
}

#containerResult {
  display: grid;
  gap: 5px;
  border: 1px solid black;
  border-radius: 15px;
  width: 330px;
  height: 50px;
  padding: 5px;
}

#calculatorDisplay {
  display: block;
  padding: 10px;

  background-color: rgb(137, 205, 205);
  border-radius: 10px;
  text-align: right;
}

#containerButtons {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 400px;
  height: 400px;

  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.button {
  font-size: 22px;
  border-radius: 15px;
  box-shadow: 2px 2px grey;
}

.button:active {
  font-size: 22px;
  border-radius: 15px;
  box-shadow: none;
}

#bigZero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 5;
}

#bigEqual {
  grid-column: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}
